<div class="container">
  <div class="option">
    <p class="header-text"> {{ 'settings.theme-option' | translate }} </p>
    <div class="option-container">
      <div class="sub-option">
        <p class="option-text"> {{ 'settings.theme-switch' | translate }} </p>
        <mat-slide-toggle color="primary"
          aria-label="Dark/Light theme toggle" [disabled]="themeToggleService.isAdaptiveTheme"
          [(ngModel)]="themeToggleService.isDarkTheme"
          (click)="themeToggleService.onThemeToggleChange()"
        ></mat-slide-toggle>
      </div>
      <div class="sub-option">
        <p class="option-text"> {{ 'settings.theme-adaptive' | translate }} </p>
        <mat-slide-toggle color="primary"
          aria-label="Adaptive theme toggle (depending on time of day)" class="slide"
          [(ngModel)]="themeToggleService.isAdaptiveTheme"
          (click)="themeToggleService.onAdaptiveToggleChange()"
        ></mat-slide-toggle>
      </div>
    </div>
  </div>
  <div class="option">
    <p class="header-text"> {{ 'settings.language-option' | translate }} </p>
    <div class="option-container">
      <div class="sub-option">
        <p class="option-text"> {{ 'settings.language-en' | translate }} </p>
        <mat-slide-toggle color="primary"
          aria-label="Language change toggle" class="lang-slide"
          [(ngModel)]="languageService.isUkrainian"
          (click)="languageService.changeLanguage()"
        ></mat-slide-toggle>
        <p class="option-text option-last-text"> {{ 'settings.language-ua' | translate }} </p>
      </div>
    </div>
  </div>
</div>
